.col-1-1 {
    width: 50%;
    float: left;
}

.col-1-2 {
    width: 50%;
    float: left;
}

.col-2-1 {
    width: 50%;
    float: left;
}

.col-2-2 {
    width: 50%;
    float: left;
}

.col-2-3 {
    width: 50%;
    float: left;
}

.container:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-bottom: 15px;
}
